/* ====================>> Landing Page <<==================== */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  color: black;
  /* background-color: #080808; */
}

main {
  width: 100%;
  padding: 0 10%;
}

.index-page {
  height: 100vh;
}

/* ====================>> Navigation Bar <<==================== */

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

.logo {
  animation: logo 1s ease forwards;
  opacity: 0;
}

nav a {
  text-decoration: none;
  color: black;
  margin-right: 16px;
  font-weight: 600;
  position: relative;
}

nav a,
#darkModeToggle {
  display: inline-block;
  animation: navMenu 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

nav a::after {
  content: "";
  width: 0;
  height: 3px;
  background: teal;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav a:hover::after {
  width: 100%;
}

nav {
  position: relative;
}

#darkModeToggle {
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

/* ====================>> Hero Section <<==================== */
.hero-container {
  display: flex;
  padding: 25px 0;
  justify-content: center;
  align-items: center;
}

.hero-info h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0px;
  letter-spacing: 1px;
}

.hero-info h3 span {
  color: teal;
}

.intro {
  animation: intro 1s ease forwards;
  opacity: 0;
}

.profession {
  animation: profession 1s ease forwards;
  opacity: 0;
}

.hero-info h1 {
  font-size: 60px;
  font-weight: 600;
  color: teal;
  letter-spacing: 1px;
  animation: myName 0.5s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

.hero-paragraph {
  line-height: 27px;
  margin: 20px 85px 30px 0px;
  /* color: #808080; */
  animation: paragraph 1s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

i {
  position: relative;
  border: 2px solid teal;
  padding: 10px;
  border-radius: 50%;
  color: teal;
  margin: 0px 10px;
  transition: 0.3ms;
  animation: socialIcons 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
  opacity: 0;
}

i:hover {
  box-shadow: 0 0 20px teal;
}

.resume-btn {
  background-color: teal;
  margin-top: 40px;
  padding: 15px 50px;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
  transition: 0.3s;
  animation: resumeBtn 1s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.resume-btn:hover {
  box-shadow: 0 0 10px teal;
}

.hero-image img {
  margin-top: -70px;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

/* ====================>> Animations for Hero Section <<==================== */
@keyframes logo {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes navMenu {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes profession {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes myName {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes paragraph {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes socialIcons {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes resumeBtn {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ====================>> About Page <<==================== */
#about-page {
  height: 100vh;
  padding: 80px 0;
  color: #a9a9a9;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-image {
  flex-basis: 35%;
}

.about-image img {
  width: 100%;
  border-radius: 15px;
}

.about-info {
  flex-basis: 60%;
}

.sub-title {
  font-size: 50px;
  font-weight: 600;
  color: black;
}

.about-paragraph {
  line-height: 25px;
  padding: 0 75px 0 0;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: teal;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: teal;
  font-size: 14px;
  font-weight: 600;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}