/* ====================>> Landing Page <<==================== */

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
  /* color: white;
  background-color: #080808; */
}

main {
  width: 100%;
  padding: 0 10%;
}

.index-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ====================>> Navigation Bar <<==================== */

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}

#logo {
  height: 50px;
  width: 50px;
}

.left-to-right {
  animation: left-to-right 1s ease forwards;
  opacity: 0;
}

.animation-delay {
  animation: left-to-right 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

nav a {
  text-decoration: none;
  color: black;
  margin-right: 16px;
  font-weight: 600;
  position: relative;
}

nav a,
#darkModeToggle {
  display: inline-block;
  animation: navMenu 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

nav a::after {
  content: "";
  width: 0;
  height: 3px;
  background: teal;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav a:hover::after {
  width: 100%;
}

nav {
  position: relative;
}

#darkModeToggle {
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

/* ====================>> Hero Section <<==================== */
:root {
  --hover-translateY: 0;
  --hover-transition-duration: 0.5s;
}

.hero-container {
  display: flex;
  padding: 25px 0;
  justify-content: center;
  align-items: center;
}

.hero-info h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0px;
  letter-spacing: 1px;
}

.hero-info h3 span {
  color: teal;
}

.intro {
  animation: intro 1s ease forwards;
  opacity: 0;
}

.profession {
  animation: profession 1s ease forwards;
  opacity: 0;
}

.hero-info h1 {
  font-size: 60px;
  font-weight: 600;
  color: teal;
  letter-spacing: 1px;
  animation: myName 0.5s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

.hero-paragraph {
  line-height: 27px;
  padding: 20px 85px 25px 0px;
  color: rgba(29, 32, 29, 0.87);
}

.right-to-left {
  animation: right-to-left 1s ease forwards;
  opacity: 0;
}

#animation-delay-hero {
  animation-delay: 1.2s;
}

i {
  position: relative;
  border: 2px solid teal;
  padding: 15px;
  font-size: 16.4px;
  border-radius: 50%;
  margin: 0px 10px;
}

.icon-shift-left {
  margin-left: -10px;
}

.icon {
  color: teal;
}

.hero-icon {
  transition: transform 0.3ms;
  /* transition: transform var(--hover-transition-duration); */
  animation: socialIcons 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
  opacity: 0;
  display: flex;
  display: inline-block;
}

.icon:hover {
  box-shadow: 0 0 10px teal;
  --hover-translateY: -5px;
}

.button {
  width: 30%;
  background-color: teal;
  color: #fff;
  padding: 15px 50px;
  font-weight: 700;
  font-size: 17px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  animation: bottom-to-top 1s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.link-button {
  display: block;
  text-decoration: none;
  text-align: center;
}

#resume-button {
  margin-top: 10px;
  letter-spacing: 1px;
}

.button:hover {
  box-shadow: 0 0 10px teal;
  transform: translateY(-5px);
}

.hero-image img {
  width: 300px;
  margin-bottom: 120px;
}

.zoom-in {
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

/* ====================>> Animations for Hero Section <<==================== */
@keyframes left-to-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes navMenu {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes profession {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes myName {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right-to-left {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes socialIcons {
  0%,
  50% {
    transform: translateX(100px) translateY(var(--hover-translateY));
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(var(--hover-translateY));
    opacity: 1;
  }
}

@keyframes bottom-to-top {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* ====================>> About Page <<==================== */
#about-page {
  height: 100vh;
  padding: 50px 0;
  color: #a9a9a9;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-image {
  flex-basis: 35%;
}

.about-image img {
  width: 100%;
  border-radius: 15px;
}

.about-info {
  flex-basis: 60%;
}

.sub-title {
  font-size: 3.1rem;
  font-weight: 600;
  color: teal;
}

.about-paragraph {
  line-height: 25px;
  padding: 0 50px 0 0;
  /* font-size: 15.5px; */
}

.tab-titles {
  display: flex;
  margin: 20px 0 30px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: teal;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 15px;
}

.tab-contents ul li span {
  color: teal;
  font-size: 14px;
  font-weight: 600;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* ====================>> Services Page <<==================== */
.services {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services h1 {
  text-align: center;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.services-box {
  flex: 0 0 calc(33.33% - 15px);
  background: #d3e1e1;
  padding: 1rem 2rem 2.5rem;
  /* padding: 16px 23px 40px; */
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.5s, transform 0.5s, box-shadow 0.3s ease;
}

.services-box i {
  font-size: 3rem;
  border: none;
  padding: 1rem 0;
}

.services-box h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.services-box p {
  margin: 1rem 0 0;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
}

.services-box:hover {
  background: rgb(48, 123, 123);
  transform: translateY(-10px); /*not working on all boxes*/
  color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* ====================>> Portfolio Page <<==================== */
.portfolio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio h1 {
  text-align: center;
}

.intro-heading {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
  color: rgba(29, 32, 29, 0.79);
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.portfolio-box {
  flex: 0 0 calc(33.33% - 10px);
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.portfolio-box img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.5s;
}

.portfolio-info {
  padding: 10px 25px 30px;
  background: #d3e1e1;
  width: 100%;
  height: 100%;
}

.portfolio-info h3 {
  font-size: 19px;
  font-weight: 600;
  margin-top: 10px;
  color: teal;
}

.portfolio-info p {
  margin-top: 10px;
  color: black;
  font-weight: 400;
  line-height: 22px;
  font-size: 14px;
}

.layer {
  height: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), teal);
  border-radius: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: height 0.5s;
}

.layer a {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.layer i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: #fff;
  width: 60px;
  height: 60px;
}

.layer p {
  color: #fff;
  padding: 0px 10px;
}

.layer-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
}

.layer-value {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 400;
}

.portfolio-box:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box:hover .layer {
  height: 100%;
}

#more-button {
  margin-top: 30px;
}

/* ====================>> Contact Page <<==================== */
#contact-page {
  height: 90vh;
  display: flex;
  align-items: center;
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-info {
  margin-top: 25px;
}

.contact-left h3 {
  font-size: 30px;
  font-weight: 700;
  color: teal;
  margin-left: 5px;
}

.contact-left p {
  font-size: 18px;
  font-weight: 600;
  color: rgba(29, 32, 29, 0.79);
}

.contact-left p i {
  transition: transform 0.5s;
}

.contact-left p i:hover {
  transform: translateY(-5px);
}

.message {
  margin-left: 5px;
}

#emailLink {
  color: rgba(29, 32, 29, 0.79);
  text-decoration: none;
}

#emailLink:hover {
  color: teal;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: rgb(232, 231, 231);
  padding: 15px;
  margin: 15px 0;
  color: black;
  font-size: 18px;
  border-radius: 6px;
}

.form-btn {
  font-size: 18px;
  margin-top: 20px;
  animation-delay: 0s;
}

/* ====================== Scroll to Top Icon ====================== */
.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scrollToTop img {
  height: 85px;
  width: 55px;
}

.scrollToTop.visible {
  opacity: 1;
  visibility: visible;
}

/* ====================>> Footer <<==================== */
.footer {
  width: 100%;
  height: 10vh;
  text-align: center;
  padding: 25px 0;
  background: teal;
  font-weight: 300;
  color: #fff;
  bottom: 0;
}

/* ======================================>> Media Queries <<====================================== */

/* ====================>> Large Laptop screens <<==================== */
/* ===============>> Hero Section <<=============== */
@media (min-width: 1440px) {
  main {
    padding: 0 5%;
  }
  #header {
    font-size: 25px;
    padding: 40px 0;
  }
  #logo {
    height: 70px;
    width: 70px;
  }
  .hero-container {
    margin: 30px 0 0;
  }
  .hero-info h3 {
    font-size: 40px;
  }
  .hero-info h1 {
    font-size: 70px;
  }
  .hero-paragraph {
    font-size: 25px;
    line-height: 50px;
  }
  .hero-image img {
    width: 400px;
  }
  i {
    padding: 25px;
    font-size: 20px;
  }
  .button {
    padding: 20px 50px;
    font-size: 25px;
  }
  #resume-button {
    margin-top: 20px;
  }
}
/* ===============>> About Page <<=============== */
@media (min-width: 1440px) {
  #about-page {
    padding: 50px 0;
    font-size: 25px;
  }
  .sub-title {
    font-size: 60px;
  }
  .about-paragraph {
    line-height: 40px;
    padding: 10px 50px 0 0;
  }
  .tab-titles {
    margin: 25px 0 35px;
  }
  .tab-links {
    font-size: 27.3px;
  }
  .tab-contents ul li span {
    font-size: 23px;
  }
}
/* ===============>> Services Page <<=============== */
@media (min-width: 1440px) {
  .services-container {
    margin-top: 3rem;
  }
  .services-box {
    flex: 0 0 calc(33.33% - 15px);
    padding: 1rem 1.7rem 2.5rem;
  }
  .services-box i {
    font-size: 3rem;
    padding: 1.5rem 0;
  }
  .services-box h2 {
    font-size: 1.85rem;
  }
  .services-box p {
    font-size: 25px;
    line-height: 37px;
  }
}
/* ===============>> Portfolio Page <<=============== */
@media (min-width: 1440px) {
  .intro-heading {
    font-size: 30px;
    margin-top: 25px;
  }
  .portfolio-info h3 {
    font-size: 30px;
  }
  .portfolio-info p {
    font-size: 25px;
    line-height: 35px;
  }
  .layer-title,
  .layer-value {
    font-size: 25px;
  }
}
/* ===============>> Contact Page <<=============== */
@media (min-width: 1440px) {
  .contact-info {
    margin-top: 35px;
  }
  .contact-left h3 {
    font-size: 40px;
  }
  .contact-left p {
    font-size: 25px;
  }
  form input,
  form textarea {
    font-size: 25px;
    padding: 20px;
    margin: 20px 0;
  }
  .form-btn {
    font-size: 25px;
    margin-top: 20px;
  }
}
/* ===============>> Scroll to Top Icon <<=============== */
@media (min-width: 1440px) {
  .scrollToTop {
    bottom: 20px;
    right: 10px;
  }
  .scrollToTop img {
    height: 110px;
    width: 65px;
  }
}
/* ===============>> Footer <<=============== */
@media (min-width: 1440px) {
  .footer {
    font-size: 25px;
    padding: 30px 0;
  }
}

/* ====================>> Small Laptop screens <<==================== */
/* ===============>> Hero Section <<=============== */
@media (min-width: 769px) and (max-width: 1439px) {
}
/* ====================>> Tablet and Ipad screens <<==================== */
/* ===============>> Hero Section <<=============== */
@media (min-width: 481px) and (max-width: 768px) {
  main {
    padding: 0 5%;
  }
  #header {
    font-size: 15px;
  }
  #logo {
    height: 40px;
    width: 40px;
  }
  .hero-info h3 {
    font-size: 22px;
  }
  .hero-info h1 {
    font-size: 35px;
  }
  .hero-paragraph {
    font-size: 13px;
    line-height: 24px;
    padding: 10px 30px 15px 0px;
  }
  .hero-image img {
    width: 230px;
  }
  i {
    padding: 13px;
    font-size: 15px;
  }
  .button {
    width: 40%;
    padding: 13px 45px;
    font-size: 15px;
  }
  #resume-button {
    margin-top: 0px;
  }
}

/* ===============>> About Page <<=============== */
@media (min-width: 481px) and (max-width: 768px) {
  #about-page {
    padding: 40px 0;
    font-size: 12.5px;
  }
  .sub-title {
    font-size: 30px;
  }
  .about-paragraph {
    line-height: 22px;
    padding: 0 20px 0 0;
  }
  .tab-titles {
    margin: 10px 0 20px;
  }
  .tab-links {
    font-size: 14px;
  }
  .tab-contents ul li span {
    font-size: 11.5px;
  }
}

/* ===============>> Services Page <<=============== */
@media (min-width: 481px) and (max-width: 768px) {
  .services-container {
    margin-top: 1.5rem;
  }
  .services-box {
    flex: 0 0 calc(33.33% - 10px);
    padding: 0.5rem 1rem 1.3rem;
  }
  .services-box i {
    font-size: 2rem;
    padding: 0.5rem 0;
    margin: 0 -0.125rem;
  }
  .services-box h2 {
    font-size: 1.04rem;
  }
  .services-box p {
    margin: 0.8rem 0 0;
    font-size: 0.769rem;
  }
}

/* ===============>> Portfolio Page <<=============== */
@media (min-width: 481px) and (max-width: 768px) {
  .intro-heading {
    font-size: 16px;
    margin-top: 15px;
  }
  .portfolio-container {
    margin-top: 1.5rem;
  }
  .portfolio-info {
    padding: 10px 15px 20px;
  }
  .portfolio-info h3 {
    font-size: 16px;
  }
  .portfolio-info p {
    font-size: 13px;
    line-height: 20px;
  }
  .layer i {
    font-size: 16px;
    width: 50px;
    height: 50px;
  }
  .layer-title,
  .layer-value {
    font-size: 14px;
  }
}

/* ===============>> Contact Page <<=============== */
@media (min-width: 481px) and (max-width: 768px) {
  .contact-info {
    margin-top: 15px;
  }
  .contact-left h3 {
    font-size: 22px;
  }
  .contact-left p {
    font-size: 16px;
  }
  .contact-left p i {
    padding: 10px;
    font-size: 12px;
  }
  form input,
  form textarea {
    font-size: 16px;
    padding: 13px;
    margin: 10px 0;
  }
  .form-btn {
    font-size: 16px;
    margin-top: 15px;
  }
}

/* ===============>> Scroll to Top Icon <<=============== */
@media (min-width: 481px) and (max-width: 768px) {
  .scrollToTop {
    bottom: 20px;
    right: 3px;
  }
  .scrollToTop img {
    height: 65px;
    width: 40px;
  }
}

/* ===============>> Footer <<=============== */
@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    padding: 20px 0;
  }
}
/* ====================>> Large Mobile screens <<==================== */
/* ===============>> Hero Section <<=============== */
@media (min-width: 376px) and (max-width: 480px) {
}

/* ====================>> Small Mobile screens <<==================== */
/* ===============>> Hero Section <<=============== */
@media (max-width: 375px) {
}
